* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: antiquewhite;
}

section {
    background-color: aqua;
}

footer {
    background-color: aquamarine;
}