/* General */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main , section {
    padding: 0rem 15rem 7rem;
}

button {
    background-color: #3882f6;
    padding: 0.5rem 1.5rem;
    color: #f9faf8;
    font-weight: 700;
    border-radius: 0.8rem;
    outline: none;
    border: none;
}

.top-bottom-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
/* main section */
main {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

main h1 {
    color: #f9faf8;
    font-size: 3rem;
    font-weight: 700;
}

main p {
    color: #e5e7eb;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    padding-left: 1rem;
}

.main-logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #f9faf8
}

.hero {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.hero_content,
.hero_image {
    flex-wrap: wrap;
    flex: 1;
    width: 45%;
}

.hero_content p {
    padding: 1.5rem 0;
    line-height: 1.5;
}

.hero_image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero_image img {
    max-height: 300px;
}


section {
    background-color: white;
}

/* Random Facts */
.random_info {

}

.random_info h2 {
    color: #1f2937;
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    padding: 2rem 0; 
}

.random_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.random_item img {
    border-radius: 12px;
    border: 3px solid #3882f6;
}

.random_item {
    text-align: center;
}

.random_item p {
    padding: 1rem 0;
}

/* Quote */
.quote {
    background-color: #e5e7eb;
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 2.25rem;
    font-family: #1f2937;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    align-self: flex-end;
    font-weight: 700;
    font-size: 1.2rem;
    padding-right: 5rem;
}

/* CTA */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882f6;
    width: 100%;
    border-radius: 1rem;
    padding: 3rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-container button {
    border: 1px solid #f9faf8;
}

.action h3,
.action p{
    color: white;
}

/* Footer */
footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

}

footer a {
    color: #f9faf8;
}